#main{
    display: flex;
}
#content > * > * > img{
    max-height: 350px;
    max-width: 500px;
    margin-top: 2%;
    margin-bottom: 2%;
}

#content{
    margin-left: 4%;
    margin-right: 4%;
}

.box{
    margin-top: 30px;
    display: flex;
    flex-direction: row;
    max-height: 400px;
    border: 1px black solid;
}

.box > #hotel_img{
    border-right: 1px black solid;
    flex : 2;
    display: flex;
    justify-content: center;
}

.box > #customer_details{
    flex: 1;
}


.form_row {
    display: flex;
    justify-content: space-evenly;
    padding: 1em;
}

.form_row > label {
    flex: 1;
}

.form_row > input {
    flex: 2;
}

button{
    width: auto;
}

h5{
    font-family: 'Ubuntu', cursive;
}