#content{
    display: flexbox;
}

#city_cards {
    display: flex;
    /* margin-left: 15%;
    margin-right: 15%; */
    justify-content: space-evenly;
    align-items: center;
    padding: 4%;
    flex-wrap: wrap;
}

#city_cards > div > img{
    display: block;
    height: 150px;
    width: 150px;
    border-radius: 25%;
    object-fit: cover;
    object-position: center;
}

#city_cards > * > * > img{
    display: block;
    height: 150px;
    width: 150px;
    border-radius: 25%;
    object-fit: cover;
    object-position: center;
}

.cards{
    position: relative;
}

.cards > .city_name{
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.5);
    color: #f1f1f1;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 25%;
    opacity: 0;
}

.cards > .city_name:hover{
    opacity: 1;
    box-shadow: 10px 10px 10px grey;
}

#search_bar{
    display: flex;
    background-image: url(https://media-cdn.tripadvisor.com/media/photo-o/14/10/2e/af/india.jpg);
    height: 380px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    align-items: center;
    justify-content: center;
}

input{
    border: 1px transparent solid;
    background-color: #f1f1f1;
    padding: 10px;
    font-size: 16px;
    border-radius: 12px;
    width: 300px;
}

input:focus{
    outline: none;
}