.hotels_img > img{
    max-height: 200px;
    max-width: 200px;
}

.hotels{
    display: inline-grid;
    grid-template-columns: auto auto;
    margin: 2%;
    margin-left: 4%;
    background-color: lightgrey;
    width: 40%;
}


.hotels:hover{
    background-color: rosybrown;
}

.checked{
    color: orange;
}

@media only screen and (max-width: 576px) {
    .hotels{
        display: grid;
        grid-template-columns: auto;
    }
    div.hotels_description{
        display: grid;
        grid-template-rows: auto;
        background-color: lightgrey;
    }
}

@media only screen and (min-width: 576px) and (max-width:768px) {
    .hotels{
        display: grid;
        grid-template-rows: auto;
        row-gap: 10px;
    }

    div.hotels_description{
        display: grid;
        grid-template-columns: 80vw;
        background-color: lightgrey;
    }
}