.hotels_img > img{
    height: 200px;
    width: 200px;
}

.hotels{
    display: inline-block;
    margin: 2%;
    margin-left: 4%;
    background-color: lightgrey;
    width: 40%;
}

.hotels{
    display: inline-grid;
    grid-template-columns: 200px auto 0;
    column-gap: 10px;
}

.hotels:hover{
    background-color: rosybrown;
}