b{
    font-family: 'Ubuntu', cursive;
}

#hotel_img > img{
    max-height: 300px;
    max-width: 270px;
}

#hotel{
    display: flex;
    background-color: rgb(132,136,139);
    width: 50%;
    height: 20%;
    margin: auto;
    margin-top: 2%;
    margin-bottom: 2%;
}

#hotel_description{
    margin-left: 2%;
    display: block;
    margin-top: auto;
    margin-bottom: auto;
}
#customer_details{
    margin: 2% 2% 2% 2%;
}

#tariff_details{
    margin: 2% 2% 2% 2%;
    padding: 1% 2% 1% 2%;
}

#payment_details{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    border: 1px black solid;
    border-radius: 5px;
    margin-left: 2%;
    margin-right: 2%;
    background-color: rosybrown;
}