
#hotel > img{
    height: 500px;
    width: 500px;
}

#hotel{
    display: block;
    background-color: rgb(132,136,139);
    width: 50%;
    height: 20%;
    margin: auto;
    margin-top: 2%;
    margin-bottom: 2%;
}

#customer_details{
    margin: 2% 2% 2% 2%;
}

#tariff_details{
    margin: 2% 2% 2% 2%;
    border: 1px black solid;
    border-radius: 5px;
    padding: 1% 2% 1% 2%;
}